body {
  background-color: #70ABAF;
  color: #32292F;
  font-family: Poppins;
  font-size: 1.125em;
}

h1{
  color: #32292F;
  font-family: 'Recoleta Bold';
  font-size: 3.125em;
}

h2 {
  color: #32292F;
  font-family: 'Recoleta Bold';
  font-size: 1.563em;
}

h3 {
  color: #32292F;
  font-family: 'Recoleta Bold';
  font-size: 2em;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  background-color: #F0F7F4;
  position: fixed;
  height: 100%;
  width: 275px;
  border-radius: 0 60px 0 0;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  position: relative;
  color: #705D56;
  font-size: 1.75em;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
  user-select: none;
}

.sidebar h2:after {
  background-color: #705D56;
  content: '';
  position: absolute;
  width: 195px;
  height: 5px;
  bottom: -5px;
  left: 40px;
  border-radius: 50px;
}

.sidebar ul a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  padding-left: 40px;
}

.sidebar ul a i {
  margin-right: 16px;
}

.sidebar ul li {
  position: relative;
  width: 100%;
  text-align: left;
}

.sidebar ul li a {
  display: block;
  text-transform: capitalize;
  color: #32292F;
  font-size: 1.1em;
  margin: 40px 0;
  text-decoration: none;
}

.fa-solid {
  margin-right: 10px;
}

.sidebar ul li:hover {
  letter-spacing: 1px;
  transition: 0.5s;
}

.sidebar ul li a:hover {
  background-color: #70ABAF;
  color: #F0F7F4;
  border-left: 8px solid #32292F;
}

.sidebar ul li a:hover:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: #F0F7F4;
  right: 0;
  bottom: 100%;
  border-bottom-right-radius: 14px;
  box-shadow: 0 18px 0 #70ABAF;
}

.sidebar ul li a:hover:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: #F0F7F4;
  right: 0;
  top: 100%;
  border-top-right-radius: 14px;
  box-shadow: 0 -18px 0 #70ABAF;
}

.sidebar ul li a.active{
  background-color: #70ABAF;
  color: #F0F7F4;
  font-weight: bold;
  border-left: 8px solid #32292F;
}

.sidebar ul li a.active:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: #F0F7F4;
  right: 0;
  bottom: 100%;
  border-bottom-right-radius: 14px;
  box-shadow: 0 18px 0 #70ABAF;
}

.sidebar ul li a.active:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  background-color: #F0F7F4;
  right: 0;
  top: 100%;
  border-top-right-radius: 14px;
  box-shadow: 0 -18px 0 #70ABAF;
}

.sidebar ~ section {
  margin-left: 350px;
}

.container {
  background: #F0F7F4; 
  width: 1200px; 
  margin: 40px 0 0 435px; 
  padding: 30px; 
  box-shadow: 0 8px 10px #32292F; 
  border-radius: 20px; 
  position: absolute; 
  overflow: hidden;
}

.vid-container {
  width: 700px;
  height: 394px;
  margin: 15px 0 0 0;
  border-radius: 20px;
  overflow: hidden;
}

#quote {
  background-color: #CADAD7; 
  width: 640px; 
  margin: 555px 0 0 485px; 
}

img {
  margin: 170px 0 0 1170px;
  position: absolute;
  z-index: 1;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  flex: 1;
}

.profile-image {
  width: 510px;
  height: 530px;
  border-radius: 15px;
  object-fit: cover;
  margin-right: 20px;
}
